<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load  static %}

{% block title %}
    Editar - {{user.full_name}}
{% endblock title %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell medium-10 large-6" style="margin-top: 2em;">
            <div class="card custom-rounding" style="width: 100%;">
                <div class="card-divider">
                  <h4>Cambiar contraseña {{user.full_name }}: </h4>
                </div>
                <div class="card-section"> 
                    <form class="grid-x grid-margin-x" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="cell large-12">
                            <label>Ingrese contraseña actual:
                                {{form.password1}}
                            </label>
                        </div>
                        <div class="cell large-12">
                            <label>Ingrese contraseña nueva:
                                {{form.password2}}
                            </label>
                        </div>
                        <div class="cell large-12">
                            <label>Repita contraseña nueva:
                                {{form.password3}}
                            </label>
                        </div>
                        
                        {% for e in form.password3.errors  %}
                            <p style="color: red;"> {{e}}</p>
                        {% endfor %}
                            
                        <button type="submit" class="cell hollow button primary large custom-rounding">Cambiar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}